    @model SiteYonetimi.Models.Entitiy.TBL_Aidat
@{
    ViewBag.Title = "AidatCikis";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Aidat Teslim Alma Sayfası</h2>

@using (Html.BeginForm("AidatGuncelle", "HesapKesim", FormMethod.Post))
{
<div style="margin-bottom:15px"></div>
                <div class="form-group">
                    <label>Hareket ID</label>
                    @Html.TextBoxFor(k => k.İD, new { @class = "form-control", @readonly = "true" })
                    <br />
                    <label>Aidat Adı</label>
                    @Html.TextBoxFor(k => k.AidatAd, new { @class = "form-control", @readonly = "true" })
                    <br />
                    <label>Üye</label>
                    @Html.TextBoxFor(k => k.TBL_UYELER.AD, new { @class = "form-control", @readonly = "true" })
                    <br />
                    <label>Personel</label>
                    @*@Html.TextBoxFor(k => k.PERSONEL, new { @class = "form-control" })*@
                    <br />
                    <label>Hesap Kesim Tarihi</label>
                    @Html.TextBoxFor(k => k.KesimTarih, "{0: dd.MM.yyyy}", new { @class = "form-control", @readonly = "true" })
                    <br />
                    <label>Beklenen Ödeme Tarihi</label>
                    @Html.TextBoxFor(k => k.SonÖdeme, "{0: dd.MM.yyyy}", new { @class = "form-control", @readonly = "true" })
                    <br />
                    <label>Ödeme Tarihi</label>
                    <input type="text" class="form-control" name="OdenenTarih" value="@DateTime.Now.ToShortDateString()" readonly="true" />
                    <br />
                    <label>Geç Gelen Gün Sayısı</label>
                    <input type="text" class="form-control" id="Gecinput" value="@ViewBag.dgr" />
                    <br />
                </div>
                                <div>
                                    <button class="btn btn-group" style="background-color:#ff0000; color:white">Aidatı Teslim Al</button>

                                </div>}

